body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    text-align: center;
}

.results {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    background-color: rgb(86, 182, 220);
    color: white;
    border-color: rgb(86, 182, 220);
    border-radius: 15%;
    font-size: larger;
    justify-self: center;
}